*{
    color: #c7f6ec
}

.col{
    text-align: center;
}

body {
    background-color: #02231c;
}

h1 {
    padding: 40px;
    background-color: #107050;
}

.container {
    margin-top: 80px;
    padding: 40px;
    background-color: #107050;
    max-width: 400px;
}

input {
    width: 270px;
    border: none;
    background-color: #4dd8ad;
    color: #107050;
    margin-bottom: 20px;
}

label {
    width: 100px;
}


.btn {
    width: 150px;
    background-color: #02231c;
    color: #c7f6ec;
}