@use 'variaveis';
@use 'reset';

body {
    font-family: variaveis.$fontStyle;
    background-color: variaveis.$corPrimaria;
    color: variaveis.$corSecundaria;

    .container {
        margin: 0 auto;
        max-width: 680px;
        width: 100%;

        h1 {
            padding: 15px 0;
        }

        table {
            display: none;
            img {
                width: 100%;
                height: 100vh;
                max-height: 137px;
                overflow-y: hidden;
            }
        }

        button {
            padding: 8px;
            background-color: variaveis.$corSecundaria;
            border: none;
            font-weight: bold;
            &:hover {
                background-color: variaveis.$corPrimaria;
                color: variaveis.$corTercearia;
                cursor: pointer;
            }
        }
    }
}